@tailwind base;
@tailwind components;
@tailwind utilities;

.comment_date {
    text-align: right;
}

.close {
    position: relative;
    top: -10px;
    background-color: transparent;
    border: none;
    float: right;
}

.reply_message {
    background-color: #EBEBEB;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}

.book_list_btn {
    margin-top: 20px;
}
